body
{
  font-family: 'Trebuchet MS', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #DCA1BE 0%, #ffefe1 100%);
  margin: 0;
  padding: 15px;
}

.home-container
{
  background: #F7DDE6;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
}

h1
{
  color: #D95F8A;
  font-size: 40px;
}

.subtitle
{
  color: #bf93a2;
  font-size: 23px;
}

.info
{
  background: #feedf3;
  padding: 25px;
  border-radius: 9px;
  margin: 20px 0;
  text-align: center;
}

.info h2
{
  color: #d47798;
  line-height: 1.6;
  margin-bottom: 12px;
}

.info-benefits
{
  list-style: none;
  padding: 0;
  margin: 15px;
}

.info-benefits li, .info p
{
  color: #9b7784;
  font-size: 17px;
  padding: 8px 0;
}

.start-btn
{
  background-color: #e391ba;
  color: white;
  font-size: 25px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  padding: 15px 30px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.start-btn:hover
{
  opacity: 0.7;
  transform: scale(1.05);
}